@{
    ViewData["Title"] = "Home Page";
    @model MVCproject1.Models.User
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<ul>
    <li><h3>@Model.Id</h3></li>
    <li><h3>@Model.firstName</h3></li>
    <li><h3>@Model.lastName</h3></li>
    <li><h3>@Model.age</h3></li>
</ul>