@{
    ViewData["Title"] = "About me";
}
<div class="container-fluid">
    <h1>@ViewData["Title"]</h1>

    <p>Hello my name is Mamadou Kaly student at TechAcademy</p>
    <p>
        <a href="https://linkedin.com/in/kaly-mamadou" target="_blank" class="fa fa-linkedin"></a>
        <a href="https://twitter.com/KaliMamadou" target="_blank" class="fa fa-twitter"></a>
        <a href="https://github.com/bahkali" target="_blank" class="fa fa-github"></a>
    </p>
</div>