@{
    ViewBag.Title = "Home Page";
}

<section class="home d-flex align-content-center" >
    <div class="container">
        <div class="row">
            <div class="col-md-7 home-text text-center">
                <h1>ASP.NET</h1>
                <p class="lead">Get fast, cheap car insurance quotes in undefined with one simple form. We have been providing affordable car insurace with outstading customer service. </p>
                <p class="btn btn-cta">@Html.ActionLink("Get Quote", "create", "Insuree") &raquo;</p>
            </div>
            <div class="col-md-5"></div>
        </div>
    </div>
</section>
<section class="py-5 feature text-center">
    <div class="container">
        <h1 class="text-white display-4"><b>Feature</b></h1>
        <div class="col-lg-6 mx-auto">
            <p>
                We offer insurance for just about anything that moves you. Whether you're on the road, the trail,
                or the water we're here to help you get the type of vehicle insurance you need.
            </p>
        </div>
    </div>
</section>
<section class="pricing py-5">
    <div class="container">
        <div class="card-deck mb-3 text-center">
            <div class="card mb-4 shadow-sm">
                <div class="card-header">
                    <h4 class="my-0font-weight-normal">Free</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">$0 <small class="text-muted">/ mo</small></h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>10 users included</li>
                        <li>2 GB of storage</li>
                        <li>Email support</li>
                        <li>Help center access</li>
                    </ul>
                    <button type="button" class="btn btn-lg btn-block btn-outline-danger">Sign up for free</button>
                </div>
            </div>
            <div class="card mb-4 shadow-sm">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Pro</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">$15 <small class="text-muted">/ mo</small></h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>20 users included</li>
                        <li>10 GB of storage</li>
                        <li>Priority email support</li>
                        <li>Help center access</li>
                    </ul>
                    <button type="button" class="btn-cta btn-block">Get started</button>
                </div>
            </div>
            <div class="card mb-4 shadow-sm">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Enterprise</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">$29 <small class="text-muted">/ mo</small></h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>30 users included</li>
                        <li>15 GB of storage</li>
                        <li>Phone and email support</li>
                        <li>Help center access</li>
                    </ul>
                    <button type="button" class="btn-cta btn-block">Contact us</button>
                </div>
            </div>
        </div>
    </div>
</section>